* {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #35495e;
}

/* structure */

.container {
  max-width: 900px
}

.section {
  padding: 3rem 0rem
}

figure {
  max-width: 900px
}

/* PAGE TRANSITIONS */

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

/* hide "Read more" native wordpress link from post teasers */
.posts .more-link {
  display: none
}
