.button.is-primary {
  background-color: #a3001f;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
  background-color: #a3001f;
}

a {
  color: #a3001f
}

/* structure */

.section {
  padding : 3rem 0
}

@media screen and (max-width: 769px) {
  .container {
    padding: 0 24px;
  }
}

.container.is-fluid {
  margin-left  : 0;
  margin-right : 0;
}

.container.is-narrow {
  max-width : 750px;
}

.container.is-narrow .post.section .content p {
  font-size   : 1.1rem;
  line-height : 2;
  margin      : 1.5rem auto;
}
      
.container.is-narrow .post.section .content .embed-youtube {
  margin: 2rem 0;
}

/* Page transitions */
.column.is-two-thirds {
  position : relative;
}


/**
 * PAGE TRANSITIONS
 */

/* during entering and leaving : */
.page-enter-active,
.page-leave-active {
  transition : all 0.05s ease;
}

/* entering start */
.page-enter {
  opacity: 0
}

/* entering end */
.page-enter-to {
  opacity : 1;
}

/* leaving start */
.page-leave {
  opacity : 1;
}

/* leaving end */
.page-leave-to {
  opacity : 0;
}


/* hide "Read more" native wordpress link from post teasers */
.posts .more-link {
  display : none;
}

/* wordpress content fixes */
figure,
.youtube-player {
  max-width : 100% !important
}

figcaption {
  color         : darkgray;
  margin-bottom : 2rem;
  background    : hsl(0, 0%, 96%);
}


